<!-- sign up for an account -->
	<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<form role="form">
		  <div class="form-group">
		    <label for="email">Email address:</label>
		    <input ng-model="userEmail" type="email" class="form-control" id="email">
		  </div>
		  <div class="form-group">
		    <label for="pwd">Password:</label>
		    <input ng-model="userPassword" type="password" class="form-control" id="pwd">
		  </div>
		  <button ng-click="createUser()" class="btn btn-primary">Sign Up For Account</button>
		</form>	
	</div>
</div>