
<style type="text/css">
  ol li{
    font-size: 1.5em;
    padding: 10px 0;

  }

  ol{
    margin-left: 5%;
  }

  h2{
    margin: 5%;
  }

  img{
    margin-left: 25%;
    margin-top: -5%;
  }

  button a{
    color: white;
    text-decoration: none !important;
  }

  button a:hover{
    color: white;
  }
</style>


<h2 class="text-center">How It Works:</h2>
<div class="row">
  <div class="col-md-6">
    <ol>
      <li>Ask a Question...</li>
      <li>Set the Parameters...</li>
      <li>Let the Voting Begin...</li>
      <li>Get the Results in 24hrs!</li>
    </ol>
  </div>
  <div class="col-md-6">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEVJFo0HYHrTg1H78GziQGXMxdx-XzV8ajNmM-TNiBvKW7i7H2">
  </div>

  <div class="text-center">
    <button class="btn btn-primary btn-lg"><a href="/#/submit">Get Started</a></button>
  </div>
  

</div>










