<section ng-control="LoginCtrl">
<div class="container-fluid">

</div>
<!-- login form -->
<div class="row" ng-show="signIn">
	<div class="col-md-4 col-md-offset-4">
	<div class="text-center">
	<a class="text-right" href="/#/createacct">Sign up for an acccount</a>
	</div>
	<br>
		<form role="form">
		  <div class="form-group">
		    <label for="email">Email address:</label>
		    <input ng-model="userEmail" type="email" class="form-control" id="email">
		  </div>
		  <div class="form-group">
		    <label for="pwd">Password:</label>
		    <input ng-model="userPassword" type="password" class="form-control" id="pwd">
		  </div>
		  <div class="text-center">
		  <span style="padding:5px !important" ng-show="errorMessage" class="alert alert-danger">Please sign up for an account</span><br><br>
		  <button ng-disabled="!userPassword || !userEmail"ng-click="loginUser()" class="btn btn-primary">Sign In</button>
		  </div>
		
		</form>	
	</div>
	
</div>

</section>