<style>
	label{
		margin-top:5%;
	}
</style>

<section style="width: 50%; margin: auto" ng-control="SubmitCtrl">
<h2 class="text-center">Submit A Question</h2>
<form>
	<fieldset>
		<label for="textArea">Write Your Question</label>

		<textarea class="form-control" ng-model="question.text" type="text"></textarea>
	</fieldset>
		
	<fieldset>
		<label for="parameters">Who agrees?</label>
		<input class="form-control" ng-model="question.parameterOne" type="text"/>

		<label for="parameters">Who disagrees?</label>
		<input class="form-control" ng-model="question.parameterTwo" type="text"/>
	</fieldset>
</form> 
	<div style="margin-top: 5%;" class="text-center">
		<button ng-disabled="!question.text || !question.parameterOne || !question.parameterTwo"ng-click="submitQuestion()" class="btn btn-primary">Submit My Question</button>
	</div>
</section>