<style>
	label{
		margin-top:5%;
	}
</style>
<nav>
	<ul>
		<li><a href="/#/home"><img src="icons/my-computer1.ico"></a></li>

		<li><a href="/#/submit"><img src="icons/freehand.ico"></a></li>
		<li><a href="/#/vote"><img src="icons/tetedane.ico"></a></li>
	</ul>
</nav>
<section style="width: 50%; margin: auto" ng-control="SubmitCtrl">

<div class="container-fluid">

</div>
<h2 class="text-center">Submit A Question</h2>
<form>
	<fieldset>
		<label for="textArea">Write Your Question</label>

		<textarea class="form-control" ng-model="question.text" type="text"></textarea>
	</fieldset>
		
	<fieldset>
		<label for="parameters">Side 1</label>
		<input class="form-control" ng-model="question.parameterOne" type="text"/>

		<label for="parameters">Side 2</label>
		<input class="form-control" ng-model="question.parameterTwo" type="text"/>

		<label for="parameters">Email</label>
		<input class="form-control" ng-model="question.email" type="text"/>
	</fieldset>
</form> 
	<div style="margin-top: 5%;" class="text-center">
		<button ng-disabled="!question.text || !question.parameterOne || !question.parameterTwo || !question.email"ng-click="submitQuestion()" class="btn btn-primary">Submit My Question</button>
	</div>

	<!-- HOW TO SUBMIT FILES TO FIREBASE -->
  <input type="file" ng-model="files" ng-change="previewFile()" id="files" name="files[]" multiple />
  <button ng-click="previewFile()">Click</button>
</section>