<nav>
	<ul>
		<li><a href="/#/home"><img src="icons/my-computer1.ico"></a></li>

		<li><a href="/#/submit"><img src="icons/freehand.ico"></a></li>
		<li><a href="/#/vote"><img src="icons/tetedane.ico"></a></li>
	</ul>
</nav>

<div class="container">
	<div class="row" ng-repeat="q in question">
	<div ng-if="question_index == $index">
	<h2 class="text-center">{{q.question}}</h2>
		
		<div class="col-md-6 text-center">
		<h2 style="text-decoration: underline">SIDE ONE</h2>
			<h3>{{q.parameter1}}</h3>

		
			<button class="btn btn-danger" ng-click="voteSideOne(q.$id)"><span class="glyphicon glyphicon-plus"></span></button>
			<div><h2>{{q.vote1}}</h2></div>
			
		</div>

		
		<div class="col-md-6 text-center">
		<h2 style="text-decoration: underline">SIDE TWO</h2>
			<h3>{{q.parameter2}}</h3>

		
			<button class="btn btn-danger" ng-click="voteSideTwo(q.$id)"><span class="glyphicon glyphicon-plus"></span></button>
			<div><h2>{{q.vote2}}</h2></div>
			
		</div>
		
	</div>
	</div>
	<div class="text-center" ng-show="question.length<1"><h3 style="color: orange"><i>No Questions Yet!</i></h3></div>

	<div class="text-center">
	<button ng-show="question.length && question.length>1" class="btn btn-primary" ng-click="next()">New Question</button>
	</div>
</div>